DEV_IMAGE=dasi-dev:local
POSTGRES_DB=dasi
POSTGRES_USER=dasi
POSTGRES_PASSWORD=dasi
RUCIO_ACCOUNT=root
RUCIO_AUTH_TYPE=userpass
RUCIO_USERNAME=root
RUCIO_PASSWORD=secret
RUCIO_HOST=http://rucio-server
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio1234
MINIO_REGION=eu-central-1
MINIO_BUCKET=dasi
