services:
  devcontainer:
    build:
      context: ..
      dockerfile: Dockerfile
      target: dev-env
    volumes:
      - ..:/workspace:cached
    environment:
      INSTALL_PREFIX: /opt/ecmwf
      CMAKE_PREFIX_PATH: /opt/ecmwf:/opt/ecmwf/lib64/cmake
      LD_LIBRARY_PATH: /opt/ecmwf/lib64
      DASI_DIR: /opt/ecmwf
    command: sleep infinity
    depends_on:
      - minio

  minio:
    image: minio/minio:latest
    ports:
      - "127.0.0.1:9000:9000"
      - "127.0.0.1:9090:9090"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio1234
    volumes:
      - ./data:/data
      - ./certs:/root/.minio/certs
    command: minio server /data --console-address ":9090"
    restart: unless-stopped
