services:

  devcontainer:
    build:
      context: ..
      dockerfile: Dockerfile
      target: dev-env

    depends_on:
      - minio

    volumes:
      - ..:/workspace/dasi:cached

    # use a ptrace-based debugger C++
    cap_add:
        - SYS_PTRACE
    security_opt:
        - seccomp:unconfined

    # allow core dumps
    privileged: true
    ulimits:
        core: -1

    stdin_open: true
    tty: true

  minio:
    image: minio/minio:latest
    ports:
      - "127.0.0.1:9000:9000"
      - "127.0.0.1:9090:9090"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio1234
    volumes:
      - ./minio/data:/data
      - ./minio/certs:/root/.minio/certs
    command: minio server /data --console-address ":9090"
    restart: unless-stopped
