name: dasi

services:

  devcontainer:
    build:
      context: ..
      dockerfile: Dockerfile
      target: dev-env

    depends_on:
      minio:
        condition: service_healthy

    volumes:
      - ..:/workspace/dasi:cached

    # use a ptrace-based debugger C++
    cap_add:
        - SYS_PTRACE
    security_opt:
        - seccomp:unconfined

    # allow core dumps
    privileged: true
    ulimits:
        core: -1

    stdin_open: true
    tty: true

  test:
    build:
      context: ..
      dockerfile: Dockerfile
      target: dasi-tester
      args:
        - DASI_VERSION=0.2.8
    depends_on:
      minio:
        condition: service_healthy
    command: >
      bash -lc "
        set -ex;
        ctest --test-dir /tmp/build/dasi-bundle --output-on-failure -E fdb_move_auxiliary.sh &&
        cmake --build /tmp/build/dasi-bundle --target pydasi_test
      "

  runtime:
    build:
      context: ..
      dockerfile: Dockerfile
      target: dasi-runtime
      args:
        - DASI_VERSION=0.2.8
    command: >
      bash -lc "
        echo 'DASI Lib version:' $(dasi version) &&
        python -c 'from pydasi import Dasi, Key, Query; print(\"All imports OK\")' &&
        python -c 'import pydasi; print(f\"pydasi version: {pydasi.Version}\")'
      "

  minio:
    image: minio/minio:latest
    ports:
      - "127.0.0.1:9000:9000"
      - "127.0.0.1:9090:9090"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio1234
    volumes:
      - ./minio/data:/data
      - ./minio/certs:/root/.minio/certs
    command: minio server /data --console-address ":9090"
    healthcheck:
      test: ["CMD", "curl", "-fk", "https://localhost:9000/minio/health/live"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped
